@media (max-width: 660px) {
  .header {
    width: 100%;
  }
}
@media (max-width: 610px) {
  .header__top {
    flex-direction: column;
    margin-bottom: 188px;
  }
  .spanlogo {
    order: 1;
    padding-top: 30px;
  }
  .header__logo {
    width: 179px;
    height: 27px;
  }

  .header__top-text {
    order: 2;
  }
  .spanlogo::before {
    display: none;
  }
  .header__bottom-text {
    padding-top: 0px;
  }
  .spanlogo::after {
    content: url(../img/610-ellipse1.svg);
    position: absolute;
    top: -117px;
    right: -23px;
  }
  .header__bottom-text::before {
    content: url(../img/610-ellipse2.svg);
  }

  .container {
    padding: 0 15px;
  }
}
@media (max-width: 404px) {
  .header__top-text {
    padding-top: 45px;
  }
  .man {
    right: -18px;
  }
}
@media (max-width: 393px) {
  .header__top-text::after {
    content: url(../img/quotes-right.png);
    position: absolute;
    transform: translate(129px, 12px);
    right: 249px;
  }
}
@media (max-width: 378px) {
  .header__top-text::after {
    transform: translate(230px, 12px);
  }
}
@media (max-width: 372px) {
  .header__top-text::after {
    transform: translate(55px, 12px);
  }
}
@media (max-width: 340px) {
  .header__top-text::after {
    transform: translate(83px, 12px);
  }
}
@media (max-width: 320px) {
  .header__top {
    margin-bottom: 80px;
  }
  .man {
    width: 211px;
    height: 201px;
    right: -18px;
    bottom: -16px;
    z-index: 17;
  }
  .header__top-text::after {
    transform: translate(137px, 12px);
  }
  .spanlogo::after {
    content: url(../img/320-ellipse1.png);
    top: -117px;
    right: -24px;
  }
  .header__bottom-text::before {
    content: url(../img/320-ellipse2.png);
    transform: translate(-15px, -44px);
  }
  .header__top-text {
    font-size: 16px;
    line-height: 19px;
  }
  .header__bottom-text {
    padding-bottom: 109px;
  }
}
